<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Page Title -->
  <title>Gira+ Chat - Login</title>

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="favicon.png"/>
  
  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="login.css">

</head>
<body>

  <!-- Login Area -->
  <div class="loginBox">

    <h1>Gira+ Chat</h1>

    <form id="loginForm" action="/login" method="post">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter your name here!" name="user" autofocus>
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">Enter Chat</button>
        </div>
      </div>
    </form>

  </div>
  
</body>
</html>